body {
    background-color: #F0FFFF;
    background-image: url("./graphics/background_full.png");
    background-position: center top;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}
 
#maincontainer {
    color: #000000;
    font-family: Lucida Console,Monaco5,monospace;
    font-size: 10pt;
    margin: 0 auto;
    max-height: 600px;
    max-width: 600px;
    min-height: 600px;
    min-width: 600px;
    padding: 0;
}

#mainCanvas {
    position: absolute;
    top: 45px;
    z-index: 1;
}
.nav {
    border-color: #333333;
    border-style: inset;
    border-width: 1px;
    color: #333333;
    font-size: 10px;
    font-weight: bold;
    height: 16px;
    margin: 5px 10px 10px;
    padding: 0 10px;
    text-align: left;
}
.menu {
    background-color: #114477;
    border-color: #EDEDEE;
    border-style: solid;
    border-width: 1px;
    margin: 5px 10px 10px;
    padding: 0;
    text-align: center;
}
.menu_item {
    color: #EDEDEE;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
    text-align: center;
}
.content {
    border-style: none;
    border-width: 0;
    padding: 10px;
}
.downloads {
    padding: 5px;
}
.changelog {
    padding-left: 20px;
    padding-top: 10px;
}
.downloads a:hover {
    color: #000000;
    text-decoration: none;
}
.viennarna {
    padding-left: 20px;
}
a:link {
    color: #114477;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: #114477;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #114477;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: underline;
}
a:active {
    color: #114477;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: underline;
}
a.nav:link {
    border-style: none;
    border-width: 0;
    color: #333333;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}
a.nav:visited {
    border-style: none;
    border-width: 0;
    color: #333333;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}
a.nav:hover {
    border-style: none;
    border-width: 0;
    color: #555555;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: underline;
}
a.nav:active {
    border-style: none;
    border-width: 0;
    color: #EDEDEE;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: underline;
}
a.th:link {
    color: #EDEDEE;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
a.th:visited {
    color: #EDEDEE;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
a.th:hover {
    color: #EDEDEE;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
a.th:active {
    color: #EDEDEE;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.pub {
    margin: 0 0 20px 30px;
    padding: 5px;
}
.title {
    font-weight: bold;
}
.publishing {
    font-style: italic;
}
.abstract {
    background-color: #DCDCDD;
    border-collapse: collapse;
    border-color: #114477;
    border-style: solid;
    border-width: thin;
    margin: 10px 0;
    padding: 5px;
}
.meeting {
    padding: 5px;
}
.icon {
    float: left;
    padding: 5px;
    width: 50px;
}
.usual_suspect {
    display: table-cell;
    padding: 5px;
}
h1 {
    color: #003366;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
h4 {
    color: #333333;
    font-size: 14pt;
    font-weight: bold;
    text-decoration: underline;
}
h3 {
    color: #333333;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: underline;
}
table.classic {
    border-collapse: collapse;
    border-color: #114477;
    border-spacing: 0;
    border-style: solid;
    border-width: thin;
    color: #111111;
    padding: 3px;
    width: 100%;
}
td {
    border-collapse: collapse;
    border-style: none;
    border-width: 0;
    padding-left: 5px;
    text-align: left;
}
td.th {
    background-color: #114477;
    border-color: #EDEDEE;
    border-style: solid;
    border-width: 0 1px 1px;
    color: #EDEDEE;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
}
td.title {
    background-color: #114477;
    border-color: #114477;
    border-style: solid;
    border-width: 0 0 1px;
    color: #EDEDEE;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
}
td.meta {
    border-color: #114477;
    border-style: solid;
    border-width: 0 1px 0 0;
    color: #000000;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}
td.meta_small {
    border-color: #114477;
    border-style: solid;
    border-width: 0 1px 0 0;
    color: #000000;
    font-size: 8pt;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}
td.data {
    color: #000022;
    font-weight: normal;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}
a.small:link {
    color: #114477;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
}
a.small:visited {
    color: #114477;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
}
a.small:hover {
    color: #114477;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: underline;
}
a.small:active {
    color: #114477;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: underline;
}
